body{
    background: #e7e7e7;
}
#content{
    margin: 5px auto 0 auto;
    padding: 20px 10px;
}
.icon{
    margin: 0 10px;
    width: 48%;
    border-radius: 3px;
    -webkit-transform: rotate(0deg);
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
}
.icon:hover{
    -webkit-transform: rotate(350deg);
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
}